name: lint

on:
  push:
    branches: [main]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-2024-10-01
          components: clippy, rustfmt

      - name: Setup just
        uses: extractions/setup-just@v2
        with:
          just-version: 1.5.0

      - name: Check formatting
        run: just fmt-check

      - name: Run clippy
        run: just clippy
